In [1]:
import requests
import pandas as pd
import pymysql
import numpy as np
import string
from sqlalchemy import create_engine
import time

In [11]:
# 导入数据
def conn_sql(table):
    conn = pymysql.connect(
        host='60.205.181.110',
        port=3306,
        user='root',
        passwd='941207',
        db='tianchi',
        use_unicode=True,
        charset='utf8',
    )
    sql_cmd = "select * from %s"%table
    df = pd.read_sql(sql_cmd, conn)
    return df

In [13]:
%time
tarin_data = conn_sql("train")
test_data = conn_sql("testA")
sample_data = conn_sql("sample_submit")

Wall time: 0 ns

In [16]:
print(sample_data.shape)

(200000, 2)

In [19]:
tarin_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800000 entries, 0 to 799999
Data columns (total 47 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  800000 non-null  object
 1   loanAmnt            800000 non-null  object
 2   term                800000 non-null  object
 3   interestRate        800000 non-null  object
 4   installment         800000 non-null  object
 5   grade               800000 non-null  object
 6   subGrade            800000 non-null  object
 7   employmentTitle     799999 non-null  object
 8   employmentLength    753201 non-null  object
 9   homeOwnership       800000 non-null  object
 10  annualIncome        800000 non-null  object
 11  verificationStatus  800000 non-null  object
 12  issueDate           800000 non-null  object
 13  isDefault           800000 non-null  object
 14  purpose             800000 non-null  object
 15  postCode            799999 non-null  object
 16  regionCode          800000 non-null  object
 17  dti                 799761 non-null  object
 18  delinquency_2years  800000 non-null  object
 19  ficoRangeLow        800000 non-null  object
 20  ficoRangeHigh       800000 non-null  object
 21  openAcc             800000 non-null  object
 22  pubRec              800000 non-null  object
 23  pubRecBankruptcies  799595 non-null  object
 24  revolBal            800000 non-null  object
 25  revolUtil           799469 non-null  object
 26  totalAcc            800000 non-null  object
 27  initialListStatus   800000 non-null  object
 28  applicationType     800000 non-null  object
 29  earliesCreditLine   800000 non-null  object
 30  title               799999 non-null  object
 31  policyCode          800000 non-null  object
 32  n0                  759730 non-null  object
 33  n1                  759730 non-null  object
 34  n2                  759730 non-null  object
 35  n3                  759730 non-null  object
 36  n4                  766761 non-null  object
 37  n5                  759730 non-null  object
 38  n6                  759730 non-null  object
 39  n7                  759730 non-null  object
 40  n8                  759729 non-null  object
 41  n9                  759730 non-null  object
 42  n10                 766761 non-null  object
 43  n11                 730248 non-null  object
 44  n12                 759730 non-null  object
 45  n13                 759730 non-null  object
 46  n14                 759730 non-null  object
dtypes: object(47)
memory usage: 286.9+ MB